<ion-content class="color" [fullscreen]="true">
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>SuperPrice</ion-title>
          <ion-icon name="fast-food" color="icon-color" size="large" slot="end" style="padding: 9px;"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list [inset]="true" style="background-color: #ffffff !important;" >
          <ion-item class="text-color border-color mg-button"   tab="home" lines="none" routerDirection="root" routerLink="/home">
            <ion-icon name="restaurant" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Home</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button"  tab="buscador" lines="none" routerDirection="root" routerLink="/buscador">
            <ion-icon name="search-circle" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Buscar</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" tab="cuenta" lines="none" routerDirection="root" routerLink="/cuenta">
            <ion-icon name="sparkles" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Mi cuenta</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button"  tab="carrito" lines="none" routerDirection="root" routerLink="/carrito">
            <ion-icon name="albums" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Mi Carrito</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" tab="ofertas" lines="none" routerDirection="root" routerLink="/ofertas">
            <ion-icon name="storefront" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Ofertas</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-content class="ion-page" id="main-content">
      <ion-header class="ion-no-border">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-chip color="success" slot="end" tab="carrito" routerDirection="root"  routerLink="/carrito">
            <ion-icon name="cart"  color="success"></ion-icon>
            <ion-label>Cantidad: {{carritoProductos.length}}</ion-label>
          </ion-chip>
          <ion-chip color="warning" slot="end">
            <ion-icon name="wallet"  color="icon-color"></ion-icon>
            <ion-label>Total: {{total}}</ion-label>
          </ion-chip>
        </ion-toolbar>
      </ion-header>
      <ion-grid>
        <ion-row class="container11">
          <ion-col>
            <h1 class="text-color text-family" style="text-align: center; font-size: 30px;">
              <b>Mejores ofertas</b>
            </h1>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="container11">
          <ion-col size="6" *ngFor="let item of productos">
            <ion-card class="custom-card">
              <div class="card-img-container">
                <img alt="Imagen del producto" [src]="item.urlImagen" class="product-image"/>
              </div>
              <ion-card-header>
                <ion-card-title class="product-price">${{item.precio}}</ion-card-title>
                <ion-card-subtitle class="product-subtitle">Oferta Especial</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="product-content">
                {{item.nombre}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-content>
  </ion-app>
</ion-content>
