<ion-content [fullscreen]="true">
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>SuperPrice</ion-title>
          <ion-icon name="fast-food" color="warning" size="large" slot="end"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content style="background-color: aliceblue !important;">
        <ion-menu-toggle auto-hide="false">
          <ion-list [inset]="true">
            <ion-item color="medium" routerLink="/home" routerDirection="root" routerLinkActive="active-link">
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>
            <ion-item color="medium" routerLink="/buscador" routerDirection="root" routerLinkActive="active-link">
              <ion-icon name="pricetags" slot="start"></ion-icon>
              <ion-label>Buscar</ion-label>
            </ion-item>
            <ion-item color="medium" routerLink="/ofertas" routerDirection="root" routerLinkActive="active-link">
              <ion-icon name="pricetags" slot="start"></ion-icon>
              <ion-label>Ofertas</ion-label>
            </ion-item>
            <ion-item color="medium" routerLink="/cuenta" routerDirection="root" routerLinkActive="active-link">
              <ion-icon name="person-circle" slot="start"></ion-icon>
              <ion-label>Cuenta</ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>

    <ion-content id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>SuperPrice</ion-title>
          <ion-avatar aria-hidden="true" slot="end" (click)="openPopover($event)" class="flex" style="padding: 9px;">
            <img alt="" src="https://img.freepik.com/premium-psd/user-3d-icon_642950-57.jpg" width="50px">
          </ion-avatar>
        </ion-toolbar>
      </ion-header>

      <!-- Popover para el usuario -->
      <ion-popover #popover [isOpen]="isPopoverOpen" (ionPopoverDidDismiss)="closePopover()">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false" routerLink="/cuenta">Cuenta</ion-item>
              <ion-item [button]="true" [detail]="false" (click)="logOut()">Cerrar sesión</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
      <!-- Fin del popover -->

      <ion-grid>
        <ion-row class="container11">
          <ion-col>
            <h1 style="text-align: center; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: aliceblue;">
              <b>Mejores ofertas</b>
            </h1>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="container11">
          <ion-col size="6" *ngFor="let item of productos">
            <ion-card class="custom-card">
              <div class="card-img-container">
                <img alt="Imagen del producto" [src]="item.urlImagen" class="product-image"/>
              </div>
              <ion-card-header>
                <ion-card-title class="product-price">${{item.precio}}</ion-card-title>
                <ion-card-subtitle class="product-subtitle">Oferta Especial</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="product-content">
                {{item.nombre}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-content>
  </ion-app>
</ion-content>
