<ion-content [fullscreen]="true">

  <div class="screen-1">

    <h1>Registrate</h1>

    <img src="https://img.freepik.com/fotos-premium/cafe-expreso-todas-sus-maravillosas-formas_164008-447.jpg" alt="regisCafe" class="logo">

    <ion-list class="input-container">
      <ion-item>
        <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input label="Correo:" placeholder="ejemplo@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input label="Contraseña:" placeholder="********" type="password"></ion-input>
        <ion-icon name="eye-outline" slot="end" class="show-hide"></ion-icon>
      </ion-item>
    </ion-list>
  

    <ion-button expand="block" class="login">Registrate</ion-button>

    <div class="footer">
      <span>Inicia Sesion</span>
    </div>

  </div>

</ion-content>