<ion-content [fullscreen]="true">

  <div class="screen-1">

    <h1>Inicia Sesion</h1>

    <img src="https://static.vecteezy.com/system/resources/previews/030/059/819/non_2x/coffee-is-a-great-way-to-start-your-day-ai-generated-free-photo.jpg" alt="logoCafe" class="logo">

    <div class="email">
        <label for="email">Correo</label>
        <div class="sec-2">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" placeholder="Username@gmail.com">
        </div>
    </div>

    <div class="password">
        <label for="password">Contraseña</label>
        <div class="sec-2">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="password" placeholder="············">
            <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
    </div>

    <button class="login">Ingresar</button>

    <div class="footer">
        <span>Registrate</span>
        <span>¿Olvidaste tu contraseña?</span>
    </div>
</div>

</ion-content>
