
.ion-color-loginColor {
    --ion-color-base: #6d4c41; /* Color de fondo */
    --ion-color-color: #fff; /* Color del texto */
}

.ion-color-loginColor:hover {
    --ion-color-color: #ffcc00; /* Nuevo color del texto cuando se hace hover */
}

.screen-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color:#9affa6;
}

//Estilo para el título 
h1 {
    
    font-size: 2.1rem;
    font-weight: 900;
    color: #4e342e; 
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    font-family: "ABeeZee", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

//Imagen 
.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
}

.logo:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(78, 52, 46, 0.4);
}

//Botón de login 
ion-button.login {
    --background: #ff541b;
    --color: #fff; 
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 90%;
    max-width: 400px;
}


.color-login {
    --background: #9affa6;
    --color: #fff;
}

ion-button.login:hover {
    background-color: #5d4037;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    font-size: 0.9rem;
    color: #795548;
    margin-top: 20px;
}

.footer span {
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer span:hover {
    color: #4e342e; 
}

.input-container {
    width: 95%;
    max-width: 400px;
    margin-bottom: 15px;
    background-color: transparent; 
    padding: 10px;
    box-shadow: none;
}

//Estilos para ion-item 
ion-item {
    --background: #fff; 
    --border-color: #d7ccc8; 
    --border-width: 1px;
    --border-style: solid;
    --border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

//Estilos para los inputs 
ion-input {
    --color: #4e342e; 
    --background: transparent; 
    --placeholder-color: #a1887f; 
    width: 100%;
    font-size: 1rem;
    padding-left: 10px;
}

//Estilos para los íconos dentro de los inputs 
.input-icon {
    color: #6d4c41;
    font-size: 1.4rem;
    margin-top: 5px; 
}

.show-hide {
    color: #6d4c41; 
    font-size: 1.4rem;
    cursor: pointer;
    margin-top: 5px;
}

//Estilos para ion-input
ion-item.ion-focused {
    --background: #f5f5f5;
    --border-color: #bcaaa4; 
}