<ion-content [fullscreen]="true">

  <div class="screen-1">

    <h1>Inicia Sesión</h1>

    <img src="https://static.vecteezy.com/system/resources/previews/030/059/819/non_2x/coffee-is-a-great-way-to-start-your-day-ai-generated-free-photo.jpg" alt="logoCafe" class="logo">

    <ion-list class="input-container">
      <ion-item>
        <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input label="Correo:" placeholder="ejemplo@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input label="Contraseña:" placeholder="********" type="password"></ion-input>
        <ion-icon name="eye-outline" slot="end" class="show-hide"></ion-icon>
      </ion-item>
    </ion-list>
  

    <ion-button expand="block" class="login">Ingresar</ion-button>

    <div class="footer">
      <span>Registrate</span>
      <span>¿Olvidaste tu contraseña?</span>
    </div>

  </div>

</ion-content>
