<ion-content [fullscreen]="true">
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>Super Price</ion-title>
        <ion-buttons slot="end" id="open-modal">
          <ion-button size="small" (click)="setOpenModal(true)">
            Registrate
            <ion-icon class="ion-padding" name="person-add" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" [fullscreen]="true">
      <div class="flex ion-justify-content-center">
        <img src="../../assets/logo.svg" alt="logoCafe" class="logo">
      </div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>SuperPrice</ion-card-title>
        </ion-card-header>
      </ion-card>
      <div class="flex">
        <ion-list class="input-container">
          <ion-item class="ion-focused">
            <ion-icon name="mail-unread-outline" slot="start" class="input-icon"></ion-icon>
            <ion-input [(ngModel)]="email" label="Correo:" placeholder="cuenta@email.com" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
            <ion-input [(ngModel)]="password" label="Contraseña:" placeholder="********" type="password"></ion-input>
          </ion-item>
          <ion-button expand="block" class="login" (click)="onSubmit()">Iniciar sesión</ion-button>
        </ion-list>
      </div>
    </ion-content>

    <!--Modal para el registro-->
    <ion-modal [isOpen]="IsModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="flex ion-justify-content-center bg-color">
          <img src="../../assets/logo.svg" alt="logoCafe" class="logo" style="margin-top: 15px;">
        </div>
        <div class="block">
          <ion-list class="input-container">
            <ion-item class="ion-focused">
              <ion-icon name="mail-unread-outline" slot="start" class="input-icon"></ion-icon>
              <ion-input [(ngModel)]="email" label="Correo:" placeholder="cuenta@email.com" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
              <ion-input [(ngModel)]="password" label="Contraseña:" placeholder="********" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="person-add-outline" slot="start" class="input-icon"></ion-icon>
              <ion-input [(ngModel)]="nombre" label="Nombre:" placeholder="Nombre" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="people-circle-outline" slot="start" class="input-icon"></ion-icon>
              <ion-input [(ngModel)]="apellido" label="Apellido:" placeholder="Apellido" type="text"></ion-input>
            </ion-item>
            <ion-button expand="block" class="login" (click)="onRegistrar()">Crear cuenta</ion-button>
          </ion-list>
        </div>
      </ng-template>
    </ion-modal>
  </ion-app>
</ion-content>
