<ion-content class="color" [fullscreen]="true">
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>SuperPrice</ion-title>
          <ion-icon name="fast-food" color="icon-color" size="large" slot="end" style="padding: 9px;"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list [inset]="true" style="background-color: #ffffff !important;" >
          <ion-item class="text-color border-color mg-button" lines="none" routerLink="/home">
            <ion-icon name="restaurant" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Home</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" lines="none" routerLink="/buscador">
            <ion-icon name="search-circle" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Buscar</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" lines="none" routerLink="/cuenta">
            <ion-icon name="sparkles" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Mi cuenta</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" lines="none" routerLink="/carrito">
            <ion-icon name="albums" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Mi Carrito</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" lines="none" routerLink="/ofertas">
            <ion-icon name="storefront" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Ofertas</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-content class="ion-page" id="main-content">
      <ion-header class="ion-no-border">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title slot="end">Carrito</ion-title>
          <ion-icon id="popover-button" slot="end" name="cart" color="icon-color" size="large" style="padding: 9px;" ></ion-icon>
        </ion-toolbar>
      </ion-header>

      <!--poper para el usuario-->
      <ion-popover trigger="popover-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content class="content-border">
            <ion-list class="popover-color">
              <ion-item [button]="true" [detail]="false" routerLink="/cuenta" lines="none"  class="text-color text-family">
                Mi cuenta
              </ion-item>
              <ion-item [button]="true" [detail]="false" (click)="logOut()" lines="none" class="text-color text-family">Salir</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
      <!--fin del poper-->
      <div class="color">
        <img src="../../assets/user-3d-icon_642950-57-removebg-preview.png" alt="Silhouette of user" class="user-image">
      </div>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="text-user-card ion-padding">{{nombre}} {{apellido}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-padding ">
          <ion-chip color="success" class="ion-margin-bottom">
            <ion-icon name="pin"slot="start" size="medium"></ion-icon>
            <ion-label class="text-family text-color">tu información</ion-label>
          </ion-chip>
          <hr>
          <ion-card-subtitle class="ion-padding text-color style-text-subtitle"> Mas información de tu cuenta </ion-card-subtitle>
          <ion-card-content class="ion-padding text-content-info">
            Todos tus datos de cuenta en SuperPrice <br>
            <ion-chip color="success" class="ion-margin-bottom">
              <ion-icon name="pin"slot="start" size="medium"></ion-icon>
              <ion-label class="chip-text text-color">{{email}}</ion-label>
            </ion-chip>
            <ion-chip color="success" class="ion-margin-bottom">
              <ion-icon name="pin"slot="start" size="medium"></ion-icon>
              <ion-label class="chip-text text-color">{{nombre}} / {{apellido}}</ion-label>
            </ion-chip>
            <hr>
            <ion-card-content class="flex ion-justify-content-between" style="margin-bottom: 30px;">
              <ion-button color="btn-color" class="btn-text" (click)="logOut()">
                <ion-icon name="exit" slot="start"></ion-icon>
                Salir
              </ion-button>
              <ion-button color="btn-color" class="btn-text"> Ver tu carrito</ion-button>
            </ion-card-content>
          </ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>