ion-content {
    --ion-background-color: rgb(255, 255, 255);
  }
.styROW {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: white; 
    border: 10px solid #ffa451;
    border-radius: 0 0 45px 45px;
    
  }
  .styRowB {
    color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: transparent; 
  }
.styItem {
    background-color: transparent; 
    
    border-radius: 0 0 20px 20px;
  }
  .styItem {
    background-color: #ffa451; 
  }
.styIMG{
    width: 350px;
    height: 350px;
    display: flex;
    border-radius: 5%;
  }
.styButton{
    width: 10%;
    background-color: #ffa451;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
  }
  .cardIMG{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .CardProduct{
    margin: 3%;
    border-radius: 30px;
    display: flex;  
    justify-content: center;
  }
  .ionCARD{
    border-radius: 20px;
    background-color: #ffa451;
  }
.category-button {
    width: 180px;
    color: #f7f7f7; /* Color de texto */
    background-color: #ffa451;
    padding: 10px 20px; /* Espaciado interno */
    border: 3px solid; /* Bordes por defecto */
    border-radius: 15px; /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
    border-color: #ffffff;
   margin-left: 50%;
   font-weight: bold;
   letter-spacing: 2px;
  }


  .text-color {
    color: #27214d;
  }

  .text-family {
    font-family: "Bee Gothic", cursive;
    font-weight: bold;
    font-size: 0.8rem;
  }
  ion-card {
    --background: #ffffff;
    box-shadow: none;
    border: #ffa5518b 1px solid;
    border-radius: 20px 20px 0px 0px;
    margin: 0;
  }

  .style-text-subtitle{
    font-family: "Bee Gothic", cursive;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline #FFA451;
  }
  .chip-text{
    font-family: "Bee Gothic", cursive;
    font-weight: 600;
    font-size: 11px;
    color: #27214D;
  }