ion-content {
    --ion-background-color: rgba(161, 255, 159, 0.719);
  }
.styROW {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: white; 
    border: 10px solid rgba(116, 194, 114, 0.5);
    border-radius: 0 0 45px 45px;

  }
  .styRowB {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: transparent; 
  }
.styItem {
    background-color: transparent; 
  }
.styIMG{
    width: 350px;
    height: 350px;
    display: flex;
    border-radius: 50%;
  }
.styButton{
    width: 10%;
    background-color: #ff831e;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
  }
  .cardIMG{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .CardProduct{
    background-color: white;
    margin: 3%;
    border-radius: 30px;
    display: flex;  
    justify-content: center;
  }
  .ionCARD{
    background-color: transparent;
    border-radius: 30px;
  }
  .styName{
    //mover texto un poco a la derecha
    margin-left: 20px;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .styPrice{
    margin-left: 72%;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: bold;
}
.styCat{
    margin-left: 20px;
    color: #e6c044;
}
.styDes{
    margin-left: 20px;
    font-size:  1.2rem;
    color: #ff7300;
}
.styDesCr{
    margin-left: 20px;
}
.category-button {
    width: 180px;
    color: #f7f7f7; /* Color de texto */
    background-color: #ff831e;
    padding: 10px 20px; /* Espaciado interno */
    border: 3px solid; /* Bordes por defecto */
    border-radius: 15px; /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
    border-color: #ffffff;
   margin-left: 50%;
   font-weight: bold;
   letter-spacing: 2px;
  }
  
  .category-button:hover {
    border-color: #aeaeae; /* Borde visible al pasar el ratón */
    background-color: #673e28;
    color: aliceblue;
  }