<ion-content [fullscreen]="true">
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>SuperPrice</ion-title>
          <ion-icon name="fast-food" color="warning" size="large" slot="end"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content style="background-color: aliceblue !important;">
        <ion-menu-toggle auto-hide="false">
          <ion-list [inset]="true">
            <ion-item color="medium" routerLink="/home" tab="home" routerDirection="root" routerLinkActive="active-link">
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>
            <ion-item color="medium" routerLink="/buscador" routerDirection="root" routerLinkActive="active-link">
              <ion-icon name="pricetags" slot="start"></ion-icon>
              <ion-label>Buscar</ion-label>
            </ion-item>
            <ion-item color="medium" routerLink="/promociones" routerDirection="root" routerLinkActive="active-link">
              <ion-icon name="pricetags" slot="start"></ion-icon>
              <ion-label>Promociones</ion-label>
            </ion-item>
            <ion-item color="medium" routerLink="/cuenta" routerDirection="root" routerLinkActive="active-link">
              <ion-icon name="person-circle" slot="start"></ion-icon>
              <ion-label>Cuenta</ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            SuperPrice
          </ion-title>
          <ion-avatar aria-hidden="true" slot="end" (click)="openPopover($event)" class="flex " style="padding: 9px;">
            <img alt="" src="https://img.freepik.com/premium-psd/user-3d-icon_642950-57.jpg" width="50px">
          </ion-avatar>
        </ion-toolbar>
      </ion-header>
      <!--poper para el usuario-->
      <ion-popover  #popover [isOpen]="isPopoverOpen" (ionPopoverDidDismiss)="closePopover()">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">Cuenta</ion-item>
              <ion-item [button]="true" [detail]="false" (click)="logOut()">Cerrar sesión</ion-item>
              <!--
              <ion-item [button]="true" id="nested-trigger">More options...</ion-item>
              <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>-->
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
      <!--fin del poper-->
      <ion-content>
        <ion-toolbar>
          <ion-grid [fixed]="true">
            <ion-row class="ion-justify-content-center" style="margin-top: 10px;">
              <ion-col size="12">
                <ion-toolbar>
                  <ion-searchbar animated="true" [debounce]="1000" (ionInput)="searchProducts($event)" placeholder="Buscar..." ></ion-searchbar>
                </ion-toolbar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
        <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
        <ion-alert *ngIf="isAlertOpen" color="danger" style="margin-top: 10px;">
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
          <ion-label>No se encontraron productos</ion-label>
        </ion-alert>
        <ion-grid>
          <ion-row>
            <ion-list *ngFor="let product of products">
              <ion-card>
                <img alt="Silhouette of mountains" [src]="product.urlImagen" width="700%">
                <ion-card-header>
                  <ion-card-title>{{product.nombre}}</ion-card-title>
                  <ion-card-subtitle>Producto</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
                <div class="ion-padding flex ion-justify-content-between ">
                  <ion-button size="small" fill="outline" color="warning" [routerLink]="['/pro-description', product.id]">
                    <ion-icon name="cart" slot="start"></ion-icon>
                      Ver producto
                  </ion-button>
                  <ion-badge color="success" slot="end" class="ion-align-center ion-padding">$ {{product.precio}}</ion-badge>
                </div>
              </ion-card>
            </ion-list>
          </ion-row>
        </ion-grid>
      </ion-content>
    </div>
  </ion-app>
</ion-content>