<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>buscador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">buscador</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-tab-bar slot="bottom" class="tab-bar-custom">
  <ion-tab-button tab="home">
    <ion-icon name="home-outline">Home</ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="search" routerLink="/buscador">
    <ion-icon name="search-outline">Home</ion-icon>
    <ion-label>Buscar</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="promotions">
    <ion-icon name="pricetags-outline">Home</ion-icon>
    <ion-label>Promociones</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="account">
    <ion-icon name="person-outline">Home</ion-icon>
    <ion-label>Cuenta</ion-label>
  </ion-tab-button>
</ion-tab-bar>
