<ion-content [fullscreen]="true">
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>SuperPrice</ion-title>
          <ion-icon name="fast-food" color="icon-color" size="large" slot="end" style="padding: 9px;"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content style="background-color: #ffffff !important;">
        <ion-list [inset]="true" style="background-color: #ffffff !important;" >
          <ion-item class="text-color border-color mg-button"  tab="home" lines="none" routerDirection="root" routerLink="/home">
            <ion-icon name="restaurant" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Home</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" tab="buscador" lines="none" routerDirection="root" routerLink="/buscador">
            <ion-icon name="search-circle" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Buscar</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" tab="cuenta" lines="none" routerDirection="root" routerLink="/cuenta">
            <ion-icon name="sparkles" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Mi cuenta</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button"  tab="carrito" lines="none" routerDirection="root" routerLink="/carrito">
            <ion-icon name="albums" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Mi Carrito</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" tab="ofertas" lines="none" routerDirection="root" routerLink="/ofertas">
            <ion-icon name="storefront" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Ofertas</ion-label>
          </ion-item>
          <ion-item class="text-color border-color mg-button" tab="ofertas" lines="none" routerDirection="root" (click)="logOut()">
            <ion-icon name="exit" color="icon-color" slot="start" size="large"></ion-icon>
            <ion-label class="text-family">Salir</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-content class="ion-page" id="main-content">
      <ion-header class="ion-no-border">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-chip color="success" slot="end" tab="carrito" routerDirection="root"  routerLink="/carrito">
            <ion-icon name="cart"  color="success"></ion-icon>
            <ion-label>Cantidad: {{carritoProductos.length}}</ion-label>
          </ion-chip>
          <ion-chip color="warning" slot="end">
            <ion-icon name="wallet"  color="icon-color"></ion-icon>
            <ion-label>Total: {{total}}</ion-label>
          </ion-chip>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-title class="texto-info">Hola <b>{{Usuario}}</b> , ¿qué quieres hacer? <br> Puedes buscar productos en la barra de busqueda</ion-title>
        <ion-toolbar style="z-index: 20;">
          <ion-grid [fixed]="true">
            <ion-row class="ion-justify-content-center" style="margin-top: 10px;">
              <ion-col size="12">
                <ion-toolbar>
                  <ion-searchbar animated="true" [debounce]="1000" (ionInput)="searchProducts($event)" placeholder="Buscar..." ></ion-searchbar>
                </ion-toolbar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
        <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
        <ion-alert *ngIf="isAlertOpen" color="danger" style="margin-top: 10px;">
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
          <ion-label>No se encontraron productos</ion-label>
        </ion-alert>
        <ion-grid class="ion-justify-content-center">
          <div class="flex">
            <ion-title class="texto-info">Su resultado.
            </ion-title>
            <ion-chip color="danger" slot="end">
              <ion-icon name="arrow-down-circle"  color="danger"></ion-icon>
              <ion-label class="info-text">ordenados de menor a mayor</ion-label>
            </ion-chip>
          </div>
          <ion-row class="flex ion-justify-content-center pg-botton">
            <ion-list *ngFor="let product of products" class="ion-justify-content-center" >
              <ion-card >
                <div class="flex ion-justify-content-center" style=" width: 267px; height: 267px;">
                  <img alt="Silhouette of mountains" class="product-image" [src]="product.urlImagen" [routerLink]="['/pro-description', product.id]">
                </div>
                <ion-card-header>
                  <ion-card-title class="text-color">{{product.nombre}}</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-padding" style="width: 75%;">
                  <ion-chip color="success">
                    <ion-icon name="pin"slot="start" size="medium"></ion-icon>
                    <ion-label class="text-family text-color">${{product.precio}}</ion-label>
                  </ion-chip>
                  <ion-chip color="success">
                    <ion-icon name="pin"slot="start" size="medium"></ion-icon>
                    <ion-label class="text-family text-color">{{product.categoriaID}}</ion-label>
                  </ion-chip>
                  <ion-chip color="danger">
                    <ion-icon name="store"slot="start" size="medium"></ion-icon>
                    <ion-label class="text-family text-color">{{product.tienda}}</ion-label>
                  </ion-chip>
                </ion-card-content>
                <div class="ion-padding flex ion-justify-content-between ">
                  <ion-button size="small" color="btn-color" [routerLink]="['/pro-description', product.id]">
                    <ion-icon name="cart" slot="start" color="icon-inverse" size="medium"></ion-icon>
                    <ion-label class="text-family color-btn-text ">Ver producto</ion-label>
                  </ion-button>
                  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                    <ion-fab-button color="select-color">
                      <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top">
                      <ion-fab-button color="select-color" (click)="addToCart(product)">
                        <ion-icon name="bag-add"></ion-icon>
                      </ion-fab-button>
                    </ion-fab-list>
                  </ion-fab>
                </div>
              </ion-card>
            </ion-list>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-content>
  </ion-app>
</ion-content>