<ion-content [fullscreen]="true">
  <!--Inicio del menu-->
  <ion-menu contentId="main-content" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
 
      <ion-list [inset]="true">
       
        <ion-item color="medium" routerLink="/home" tab="home" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item color="medium" routerLink="/buscador" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="pricetags" slot="start"></ion-icon>
          <ion-label>Buscar</ion-label>
        </ion-item>
        <ion-item color="medium" routerLink="/ofertas" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="pricetags" slot="start"></ion-icon>
          <ion-label>Ofertas</ion-label>
        </ion-item>
        <ion-item color="medium" routerLink="/cuenta" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="person-circle" slot="start"></ion-icon>
          <ion-label>Cuenta</ion-label>
        </ion-item>
      </ion-list>
 
 
    </ion-content>
  </ion-menu >
 
  <div class="ion-page" id="main-content">
    <ion-header class="menu-encabezado">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="font-family: Georgia, 'Times New Roman', Times, serif;"><b>Super Price</b></ion-title>
      </ion-toolbar>
    </ion-header>
   
  </div>
 
  <!--fin del menu-->
 
  <div class="container11">
    <br><br>
      <!--inicio del banner promocional-->
  <ion-grid [fixed]="true" class="banner1">
    <ion-row>
      <ion-col>
        <img src="../../assets/icon/super.png" class="imagen-responsiva">
      </ion-col>
    </ion-row>
  </ion-grid>
    <!--fin del banner promocional-->
 
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 style="text-align: center; font-size: 30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: aliceblue;"><b>Tendencias</b></h1>
        </ion-col>
      </ion-row>
    </ion-grid>
   
   
   
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="6" size-lg="6" *ngFor="let item of productos">
          <ion-card class="custom-card" [routerLink]="['/pro-description', item.id]">
            <img alt="Imagen del producto" [src]="item.urlImagen" class="product-image"/>
            <ion-card-header>
              <ion-card-title class="product-price">${{item.precio}}</ion-card-title>
              <ion-card-subtitle class="product-subtitle">Oferta Especial</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="product-content">
              {{item.nombre}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
   
 
  </div>
  <br><br>
 
   
 
</ion-content>
 

 