
<ion-content [fullscreen]="true">
 

  <ion-menu contentId="main-content" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-list [inset]="true">
        
        <ion-item color="warning" routerLink="/home" tab="home" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item color="warning" routerLink="/buscador" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="pricetags" slot="start"></ion-icon>
          <ion-label>Buscar</ion-label>
        </ion-item>
        <ion-item color="warning" routerLink="/promociones" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="pricetags" slot="start"></ion-icon>
          <ion-label>Promociones</ion-label>
        </ion-item>
        <ion-item color="warning" routerLink="/cuenta" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="person-circle" slot="start"></ion-icon>
          <ion-label>Cuenta</ion-label>
        </ion-item>
      </ion-list>


    </ion-content>
  </ion-menu >

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
  </div>
  <br><br>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <img src="../../assets/icon/cafe3.jpg" class="imagen-responsiva">
      </ion-col>
    </ion-row>
  </ion-grid>
  
  


  
    
    

    <div class="m-4 con1">
      <div class="promocion">
        
      </div>
    </div>


    <br>
    <div class="category-container">
      <div *ngFor="let categoria of categorias | slice:0:1;">
        <button class="category-button">{{ categoria.nombre}} </button>
      </div>
    </div>
    <h1>Mejores productos</h1>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="2" *ngFor="let item of productos">
          <ion-card>
            <img alt="Silhouette of mountains" [src]="item.urlImagen"  style="background-color: aqua;"/>
            <ion-card-header>
              <ion-card-title>{{item.precio}}</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{item.nombre}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

 
</ion-content>

<ion-tab-bar slot="bottom" class="">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="search" routerLink="/buscador">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="promotions">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Promociones</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="account"  routerLink="/cuenta">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
</ion-tab-bar>
