
ion-menu::part(backdrop) {
  background-color: rgba(84, 199, 81, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

.tab-bar-custom {
  background-color: #673e28; /* Color de fondo personalizado */
  color: #b7b4b4; /* Color del texto */
}

.tab-bar-custom ion-tab-button {
  --color-selected: #ff7f50; /* Color cuando el ícono está seleccionado */
  --color: #0b0b0b; /* Color por defecto de los iconos */
  --ripple-color: #ffcc99; /* Color del efecto de onda al hacer clic */
  transition: transform 0.2s ease-in-out; /* Transición para animación */
}

.tab-bar-custom ion-tab-button:active {
  transform: scale(0.9); /* Reduce ligeramente el tamaño al hacer clic */
}





